<div class="jumbotron">
    <h1>O2SAT</h1>
    <p class="lead">O 02Sat é tem como função primordial a conservação de bons níveis de oxigênio dentro de um ambiente confinado.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Saturação de oxigênio: </h2><h1 id="pValorSaturacao">22.5%</h1>
        @*<center><h3>22.5%</h3></center>*@
        @*<p>Leituras do Sensor detector de saturação de oxigênio</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-6">
        <h2>Estado do Exaustor</h2>
        <div class="rectangle" id="divRectangle"><H3>LIGADO</H3></div>
        @*<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
